html, body {
  margin: 0;
}

.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-container video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: rgb(31, 12, 100);
  opacity: 0.9;
  position: absolute;
}

.container-1 > div {
}

.container-1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: rgb(231, 74, 12);
}

.box-1{
  flex:4;
  z-index: 1;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.box-1 i{
  color: rgb(17, 238, 65);
  padding: 5px;
  margin: 10px;
}

.box-2{
  z-index: 1;
  flex: 1;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.box-2 i{
  color: rgb(154, 158, 155);
  padding: 5px;
  margin: 10px;
}

.container-2 > div {
  z-index: 1;
}

.container-2 {
  display: grid;
}

.box-3 {
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.box-4{
  text-align: center;
  font-size: 20px;
}

.box-3 img {
  width: auto;
  height: 150px;
  border-radius: 100px;
}

.box-4 {
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;
  padding: 10px 10vw 10px 10vw;
  color: aliceblue;
}

.container-3 > div {
}

.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-5{
  z-index: 1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(17, 238, 65);
  margin: 10vw;
  border-radius: 70px;
}

.box-5 i{
  color: rgb(91, 94, 92);
  padding: 5px;
  margin: 10px;
}

.box-6{
  z-index: 1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(17, 238, 65);
  margin: 10vw;
  border-radius: 70px;
}

.box-6 i{
  color: rgb(91, 94, 92);
  padding: 5px;
  margin: 10px;
}

.container-4 > div {
}

.container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.box-7 {
  z-index: 1;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: orange;
}

.box-8{
  z-index: 1;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: blue;
}

.box-9{
  z-index: 1;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: yellow;
}

.box-10{
  z-index: 1;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: rgb(245, 55, 55);
}

.box-11{
  z-index: 1;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: rgb(50, 164, 230);
}
